$primary-color: #078898;
$secondary-color: #66B9BF;
$complementary-color: #EEAA7B;
$accent-color: #E37222;

body {
  background-color: $primary-color;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
  //background-color: #fff;
  min-height: 31.25rem;
  margin-top: 1.875rem;
}

h1 {
  color: hsl(0, 0%, 95%);
}

#quote-box {
  background-color: #fff;
  color: $primary-color;
  //border: 0.1875rem dotted #1b95e0;
  //border-radius: 5px;
  height: 18.75rem;
  margin-bottom: 0.625rem;
  padding: 0.625rem;
}

/*#quote-generator {
  background-color: #1b95e0;
  font-size: 0.8125rem;
  margin-bottom: 0.3125rem;
}

#quote-generator:hover {
  background-color: #0c7abf;
}*/

.btn-custom {
  border-radius: 0rem;
  background-color: $accent-color;
  color: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  cursor: pointer;
}